body{
  font-family: 'Montserrat', sans-serif;
}

ion-icon {
  font-size: 32px;
}
/*Top Navbar Styling*/
.topbar {
  /* background: #DEBF46; */
  background: #FFC107;
  padding: 2px 0;
  font-size: 14px;
  height: 70px;
}
.topbar .contact-info i {
  padding-left:1rem;
  font-style: normal;
  color: #4e3b2a;
}
.topbar .contact-info i a,
.topbar .contact-info i span {
  padding-left: 5px;
  color: #2b2320;
}
.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}
.topbar .contact-info i a:hover {
  color: #4e3b2a;
}
.topbar .social-links a {
  color: #23201a;
  line-height: 0;
  transition: 0.3s;
  margin-left: 15px;
}
.topbar .social-links a:hover {
  /* color: #665200; */
  color:#fff;
}

.logo{
  height: 70px;
  width: 100px;
}


/*Navbar Styling*/
.navlinks a{
  color: #23201a;
}
.offcanvas-body{
  color: #2b2320;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
  width: 35%;

}
.portfolio-container{
  margin-left: 5%;
}


.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: black;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #ee9b00;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #ee9b00;
  text-align: center;
}

.portfolio .portfolio-wrap.portfolio-wrap-content{
  color:red;
  background-color: blue;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(34, 34, 34, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #78d9cd;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding: 0;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .portfolio-details-img {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  }

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #34b7a7 !important;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  margin-left: 20px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}


/*Footer*/
.footer {
	color: #ffffff;
	font-size: 18px;
	background: #212529;
  }
  .footer .footer-top {
	padding: 20px 50px;
	/* background: black; */
  }
  .footer .footer-top .footer-contact {
	margin-bottom: 30px;
  }
  .footer .footer-top .footer-contact h3 {
	font-size: 22px;
	margin: 0 0 10px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
  }
  .footer .footer-top .footer-contact p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Muli", sans-serif;
	color: #ffffff;
  }
  .footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	position: relative;
	padding-bottom: 12px;
  }
  .footer .footer-top .footer-links {
	margin-bottom: 30px;
  }
  .footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #665200;
	font-size: 18px;
	line-height: 1;
  }
  .footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
  }
  .footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
  }
  .footer .footer-top .footer-links ul a {
	color: #ffffff;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
  }
  .footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #665200;
  }
  
  .footer .credits {
	padding-top: 5px;
	font-size: 13px;
	color: #b4aca8;
  }
  .footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #4e3b2a;
	color: #fff;
	line-height: 1;
	padding: 2px 0;
	margin-right: 4px;
	border-radius: 25%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  .footer .social-links a:hover {
	/* background: #DEBF46; */
	background: #FFC107;
	color: #fff;
	text-decoration: none;
  }  

.text-md-right{
  text-align: center;
}

@media screen and (max-width: 500px) {
  .topbar {
	  display: none;
  }
}